body {
    width: 1250px;
    margin: 0px auto;
}

.form-group {
    padding: 0% 15%;
}

#submit-btn {
    margin: 1em 0rem;
}

#textarea-label {
    font-size: medium;
}

#text-box {
    background-color: #e9f8e9;
    color: black;
    vertical-align: top;
}

#notes-table {
    width: 85%;
    margin: 0px auto 0px auto;
    column-count: 2;
}

.column {
    float: left;
    width: 50%;
}

.card {
    border: 3px;
    border-color: gray;
    border-radius: 5px;
}